<component name="ArtifactManager">
  <artifact type="war" name="SpringAnnotation2:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringAnnotation2</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringAnnotation2-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringAnnotation2:war exploded" />
    </root>
  </artifact>
</component>